@import "Mixins.scss";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$windowHeight: 300px;
$windowWidth: 400px;
$actionPanelHeight: 50px;
$titlePanelHeight: 30px;
$windowBackground: #FFF;
$titlePanelBackground: #EEE;
$contentBackground: #FFF;
$actionPanelBackground: $titlePanelBackground;
$separatingBorderStyle: 1px solid #BBB;
$resizeBorderSize: 8px;
$resizeGripSize: 15px;

.tui-window {
    background: $windowBackground;
    border: 1px solid #888;
    @include border-radius(6px);
    @include box-shadow(2px 2px 3px #b5b5b5);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $windowHeight;
    width: $windowWidth;
    margin-left: -($windowWidth / 2);
    margin-top: -($windowHeight / 2);
    overflow: hidden;

    &.shown {
        display: block;
    }

    &.maximized {
        @include calc-size-important(height, 100%, 40px);
        @include calc-size-important(width, 100%, 40px);
        left: 0 !important;
        top: 0 !important;
        margin-left: 20px !important;
        margin-top: 20px !important;

        &.movable .tui-window-title {
            cursor: default;
        }

        .tui-window-content {
            @include calc-size-important(height, 100%, $actionPanelHeight + $titlePanelHeight + 2px);
        }

        &.resizable .tui-resize-bar {
            display: none;
        }

        &.without-actions .tui-window-content {
            @include calc-size-important(height, 100%, $titlePanelHeight + 1px);
        }

        &.without-title .tui-window-content {
            @include calc-size-important(height, 100%, $actionPanelHeight + 1px);
        }

        &.without-actions.without-title .tui-window-content {
            height: 100%;
        }
    }

    &.movable .tui-window-title {
        cursor: move;
    }

    &.resizable .tui-resize-bar {
        display: block;
    }

    &.without-actions {
        padding-bottom: 3px;

        .tui-window-content {
            height: ($windowHeight - $titlePanelHeight - 1px);
        }
        .tui-window-actions {
            display: none;
        }
    }

    &.without-title {
        padding-top: 3px;

        .tui-window-title {
            display: none;
        }
        .tui-window-content {
            height: ($windowHeight - $actionPanelHeight - 1px);
        }
    }

    &.without-actions.without-title .tui-window-content {
        height: $windowHeight;
    }

    .tui-window-top-actions {
        position: absolute;
        right: 0;
        top: 0;
        height: $titlePanelHeight;
        line-height: $titlePanelHeight;
        text-align: right;

        .tui-maximize-button,
        .tui-close-window-button {
            display: none;

            &.shown {
                display: inline-block;
            }
        }
    }

    .tui-window-title {
        background: $titlePanelBackground;
        border-bottom: $separatingBorderStyle;
        height: $titlePanelHeight;
        line-height: $titlePanelHeight;
        padding: 0 15px;

        span {
            font-size: 15px;
            line-height: 15px;
            vertical-align: baseline;
        }
    }

    .tui-window-content {
        background: $contentBackground;
        height: ($windowHeight - $actionPanelHeight - $titlePanelHeight - 2px);
        overflow: auto;

        p {
            line-height: 20px;
            margin-top: 25px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .tui-window-actions {
        background: $actionPanelBackground;
        border-top: $separatingBorderStyle;
        height: $actionPanelHeight;
        line-height: $actionPanelHeight;
        padding: 0 15px;
        text-align: right;

        & > * {
            vertical-align: baseline;
        }
    }

    .tui-resize-bar {
        display: none;
        position: absolute;

        &.bottom {
            bottom: 0;
            cursor: s-resize;
            height: $resizeBorderSize;
            left: 0;
            width: 100%;
        }

        &.bottom-right {
            bottom: 0;
            cursor: se-resize;
            height: $resizeGripSize;
            right: 0;
            width: $resizeGripSize;
        }

        &.left {
            cursor: w-resize;
            height: 100%;
            left: 0;
            top: 0;
            width: $resizeBorderSize;
        }

        &.right {
            cursor: e-resize;
            height: 100%;
            right: 0;
            top: 0;
            width: $resizeBorderSize;
        }

        &.top {
            cursor: n-resize;
            height: $resizeBorderSize;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
}