/* line 15, ../sass/Window.scss */
.tui-window {
  background: white;
  border: 1px solid #888;
  border-radius: 6px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  overflow: hidden;
}
/* line 29, ../sass/Window.scss */
.tui-window.shown {
  display: block;
}
/* line 33, ../sass/Window.scss */
.tui-window.maximized {
  height: -moz-calc(100% - 40px) !important;
  height: -webkit-calc(100% - 40px) !important;
  height: -o-calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
  width: -moz-calc(100% - 40px) !important;
  width: -webkit-calc(100% - 40px) !important;
  width: -o-calc(100% - 40px) !important;
  width: calc(100% - 40px) !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}
/* line 41, ../sass/Window.scss */
.tui-window.maximized.movable .tui-window-title {
  cursor: default;
}
/* line 45, ../sass/Window.scss */
.tui-window.maximized .tui-window-content {
  height: -moz-calc(100% - 82px) !important;
  height: -webkit-calc(100% - 82px) !important;
  height: -o-calc(100% - 82px) !important;
  height: calc(100% - 82px) !important;
}
/* line 49, ../sass/Window.scss */
.tui-window.maximized.resizable .tui-resize-bar {
  display: none;
}
/* line 53, ../sass/Window.scss */
.tui-window.maximized.without-actions .tui-window-content {
  height: -moz-calc(100% - 31px) !important;
  height: -webkit-calc(100% - 31px) !important;
  height: -o-calc(100% - 31px) !important;
  height: calc(100% - 31px) !important;
}
/* line 57, ../sass/Window.scss */
.tui-window.maximized.without-title .tui-window-content {
  height: -moz-calc(100% - 51px) !important;
  height: -webkit-calc(100% - 51px) !important;
  height: -o-calc(100% - 51px) !important;
  height: calc(100% - 51px) !important;
}
/* line 61, ../sass/Window.scss */
.tui-window.maximized.without-actions.without-title .tui-window-content {
  height: 100%;
}
/* line 66, ../sass/Window.scss */
.tui-window.movable .tui-window-title {
  cursor: move;
}
/* line 70, ../sass/Window.scss */
.tui-window.resizable .tui-resize-bar {
  display: block;
}
/* line 74, ../sass/Window.scss */
.tui-window.without-actions {
  padding-bottom: 3px;
}
/* line 77, ../sass/Window.scss */
.tui-window.without-actions .tui-window-content {
  height: 269px;
}
/* line 80, ../sass/Window.scss */
.tui-window.without-actions .tui-window-actions {
  display: none;
}
/* line 85, ../sass/Window.scss */
.tui-window.without-title {
  padding-top: 3px;
}
/* line 88, ../sass/Window.scss */
.tui-window.without-title .tui-window-title {
  display: none;
}
/* line 91, ../sass/Window.scss */
.tui-window.without-title .tui-window-content {
  height: 249px;
}
/* line 96, ../sass/Window.scss */
.tui-window.without-actions.without-title .tui-window-content {
  height: 300px;
}
/* line 100, ../sass/Window.scss */
.tui-window .tui-window-top-actions {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
/* line 109, ../sass/Window.scss */
.tui-window .tui-window-top-actions .tui-maximize-button,
.tui-window .tui-window-top-actions .tui-close-window-button {
  display: none;
}
/* line 112, ../sass/Window.scss */
.tui-window .tui-window-top-actions .tui-maximize-button.shown,
.tui-window .tui-window-top-actions .tui-close-window-button.shown {
  display: inline-block;
}
/* line 118, ../sass/Window.scss */
.tui-window .tui-window-title {
  background: #eeeeee;
  border-bottom: 1px solid #bbbbbb;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
/* line 125, ../sass/Window.scss */
.tui-window .tui-window-title span {
  font-size: 15px;
  line-height: 15px;
  vertical-align: baseline;
}
/* line 132, ../sass/Window.scss */
.tui-window .tui-window-content {
  background: white;
  height: 218px;
  overflow: auto;
}
/* line 137, ../sass/Window.scss */
.tui-window .tui-window-content p {
  line-height: 20px;
  margin-top: 25px;
}
/* line 140, ../sass/Window.scss */
.tui-window .tui-window-content p:first-child {
  margin-top: 0;
}
/* line 146, ../sass/Window.scss */
.tui-window .tui-window-actions {
  background: #eeeeee;
  border-top: 1px solid #bbbbbb;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  text-align: right;
}
/* line 154, ../sass/Window.scss */
.tui-window .tui-window-actions > * {
  vertical-align: baseline;
}
/* line 159, ../sass/Window.scss */
.tui-window .tui-resize-bar {
  display: none;
  position: absolute;
}
/* line 163, ../sass/Window.scss */
.tui-window .tui-resize-bar.bottom {
  bottom: 0;
  cursor: s-resize;
  height: 8px;
  left: 0;
  width: 100%;
}
/* line 171, ../sass/Window.scss */
.tui-window .tui-resize-bar.bottom-right {
  bottom: 0;
  cursor: se-resize;
  height: 15px;
  right: 0;
  width: 15px;
}
/* line 179, ../sass/Window.scss */
.tui-window .tui-resize-bar.left {
  cursor: w-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 8px;
}
/* line 187, ../sass/Window.scss */
.tui-window .tui-resize-bar.right {
  cursor: e-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 8px;
}
/* line 195, ../sass/Window.scss */
.tui-window .tui-resize-bar.top {
  cursor: n-resize;
  height: 8px;
  left: 0;
  top: 0;
  width: 100%;
}
