/* line 17, ../sass/Window.scss */
.tui-window {
  background: white;
  border: 1px solid #888;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 3px #b5b5b5;
  -moz-box-shadow: 2px 2px 3px #b5b5b5;
  box-shadow: 2px 2px 3px #b5b5b5;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  overflow: hidden;
}
/* line 32, ../sass/Window.scss */
.tui-window.shown {
  display: block;
}
/* line 36, ../sass/Window.scss */
.tui-window.maximized {
  height: -moz-calc(100% - 40px) !important;
  height: -webkit-calc(100% - 40px) !important;
  height: -o-calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
  width: -moz-calc(100% - 40px) !important;
  width: -webkit-calc(100% - 40px) !important;
  width: -o-calc(100% - 40px) !important;
  width: calc(100% - 40px) !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}
/* line 44, ../sass/Window.scss */
.tui-window.maximized.movable .tui-window-title {
  cursor: default;
}
/* line 48, ../sass/Window.scss */
.tui-window.maximized .tui-window-content {
  height: -moz-calc(100% - 82px) !important;
  height: -webkit-calc(100% - 82px) !important;
  height: -o-calc(100% - 82px) !important;
  height: calc(100% - 82px) !important;
}
/* line 52, ../sass/Window.scss */
.tui-window.maximized.resizable .tui-resize-bar {
  display: none;
}
/* line 56, ../sass/Window.scss */
.tui-window.maximized.without-actions .tui-window-content {
  height: -moz-calc(100% - 31px) !important;
  height: -webkit-calc(100% - 31px) !important;
  height: -o-calc(100% - 31px) !important;
  height: calc(100% - 31px) !important;
}
/* line 60, ../sass/Window.scss */
.tui-window.maximized.without-title .tui-window-content {
  height: -moz-calc(100% - 51px) !important;
  height: -webkit-calc(100% - 51px) !important;
  height: -o-calc(100% - 51px) !important;
  height: calc(100% - 51px) !important;
}
/* line 64, ../sass/Window.scss */
.tui-window.maximized.without-actions.without-title .tui-window-content {
  height: 100%;
}
/* line 69, ../sass/Window.scss */
.tui-window.movable .tui-window-title {
  cursor: move;
}
/* line 73, ../sass/Window.scss */
.tui-window.resizable .tui-resize-bar {
  display: block;
}
/* line 77, ../sass/Window.scss */
.tui-window.without-actions {
  padding-bottom: 3px;
}
/* line 80, ../sass/Window.scss */
.tui-window.without-actions .tui-window-content {
  height: 269px;
}
/* line 83, ../sass/Window.scss */
.tui-window.without-actions .tui-window-actions {
  display: none;
}
/* line 88, ../sass/Window.scss */
.tui-window.without-title {
  padding-top: 3px;
}
/* line 91, ../sass/Window.scss */
.tui-window.without-title .tui-window-title {
  display: none;
}
/* line 94, ../sass/Window.scss */
.tui-window.without-title .tui-window-content {
  height: 249px;
}
/* line 99, ../sass/Window.scss */
.tui-window.without-actions.without-title .tui-window-content {
  height: 300px;
}
/* line 103, ../sass/Window.scss */
.tui-window .tui-window-top-actions {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 22px;
  line-height: 22px;
  text-align: right;
}
/* line 112, ../sass/Window.scss */
.tui-window .tui-window-top-actions .tui-maximize-button,
.tui-window .tui-window-top-actions .tui-close-window-button {
  display: none;
}
/* line 115, ../sass/Window.scss */
.tui-window .tui-window-top-actions .tui-maximize-button.shown,
.tui-window .tui-window-top-actions .tui-close-window-button.shown {
  display: inline-block;
}
/* line 121, ../sass/Window.scss */
.tui-window .tui-window-title {
  background: #eeeeee;
  border-bottom: 1px solid #bbbbbb;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
/* line 128, ../sass/Window.scss */
.tui-window .tui-window-title span {
  font-size: 15px;
  line-height: 15px;
  vertical-align: baseline;
}
/* line 135, ../sass/Window.scss */
.tui-window .tui-window-content {
  background: white;
  height: 218px;
  overflow: auto;
}
/* line 140, ../sass/Window.scss */
.tui-window .tui-window-content p {
  line-height: 20px;
  margin-top: 25px;
}
/* line 143, ../sass/Window.scss */
.tui-window .tui-window-content p:first-child {
  margin-top: 0;
}
/* line 149, ../sass/Window.scss */
.tui-window .tui-window-actions {
  background: #eeeeee;
  border-top: 1px solid #bbbbbb;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  text-align: right;
}
/* line 157, ../sass/Window.scss */
.tui-window .tui-window-actions > * {
  vertical-align: baseline;
}
/* line 162, ../sass/Window.scss */
.tui-window .tui-resize-bar {
  display: none;
  position: absolute;
}
/* line 166, ../sass/Window.scss */
.tui-window .tui-resize-bar.bottom {
  bottom: 0;
  cursor: s-resize;
  height: 8px;
  left: 0;
  width: 100%;
}
/* line 174, ../sass/Window.scss */
.tui-window .tui-resize-bar.bottom-right {
  bottom: 0;
  cursor: se-resize;
  height: 15px;
  right: 0;
  width: 15px;
}
/* line 182, ../sass/Window.scss */
.tui-window .tui-resize-bar.left {
  cursor: w-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 8px;
}
/* line 190, ../sass/Window.scss */
.tui-window .tui-resize-bar.right {
  cursor: e-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 8px;
}
/* line 198, ../sass/Window.scss */
.tui-window .tui-resize-bar.top {
  cursor: n-resize;
  height: 8px;
  left: 0;
  top: 0;
  width: 100%;
}
